html,body,.container
{
	
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.title
{
	padding: 50px;
}
.col-sm-12
{
	border-style: solid;
	padding: 0px;
}
.form-control
{
	font-size: 2em;
	max-width: 250px;
	height: 50px;
	
}
.popover-content
{
	color: black;
}